﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9; IE=9; IE=EmulateIE10; IE=10; IE=EmulateIE11; IE=11; IE=edge" />

    <title>Administración Call Center | Iniciar de Sesión</title>

    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css" />
    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="~/css/theme_styles.css" />
    <!-- this page specific styles -->
    <!-- google font libraries -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>

    <!-- Favicon -->
    <link type="image/x-icon" href="~/favicon.ico" rel="shortcut icon" />
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="login-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="login-box">
                    <div id="login-box-holder">
                        <div class="row">
                            <div class="col-xs-12">
                                <div id="login-box-inner">
                                    <img src="~/img/Teleperformance.svg" alt="" style="display:block; height:50px; margin:0 auto" />
                                    <p class="social-text"><strong>Administración Call Center</strong><br />Teleperformance Colombia</p>
                                    @using (Html.BeginForm("LogOn", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", id = "frmDatos" }))
                                    {
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input id="username" name="username" class="form-control" type="text" placeholder="Usuario de Dominio" required>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                            <input id="password" name="password" type="password" class="form-control" placeholder="Contraseña" required>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <button type="submit" class="btn btn-success col-xs-12">Iniciar Sesión</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <p class="text-red">
                                                    @Html.Raw(ViewBag.ErrorMessage as String)
                                                </p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- global scripts -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/scripts.js"></script>
    <script>
        $('#frmDatos input[type=text], input[type=password]').on('change invalid', function () {
            var textfield = $(this).get(0);
            textfield.setCustomValidity('');
            if (!textfield.validity.valid) {
                textfield.setCustomValidity('Este campo es requerido.');
            }
        });
    </script>
</body>
</html>

