﻿tbody>tr { 
    background-color: white !important;
}

tbody>tr:hover { 
    /*background-color: #e2e0e0 !important;*/
    background-color: #f1f1f1 !important;    
}

.loader {
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgb(0, 0, 0, .4) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
        }


/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif')  
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

a:hover{
    cursor:pointer;
}

/*.Responsive {
	color: green;
}*/	

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
    /*margin-top: -8px !important;*/
    margin-top: 8px !important;
}

.text-wrap{
    white-space:normal;
}
.width-200{
    width:300px;
}

.table>thead>tr{
    background-color:#c7c7c7;
}



.label {
  border-radius: 3px;
  background-clip: padding-box;
  /*font-size: 13px;*/
  font-size: 13px;
  font-weight: 600;
}

.table thead > tr > th {
  border-bottom: 2px solid #e7ebee;
  text-transform: uppercase;
  /*font-size: 13px;*/
  font-size: 0.92em;
}

.table tbody > tr > td {
  /*font-size: 13px;*/
  font-size: 0.92em;
  vertical-align: middle;
  border-top: 1px solid #e7ebee;
  padding: 4px 8px;
}

.table tbody > tr > td:first-child {
  /*font-size: 13px;*/
  font-size: 0.92em;
  font-weight: 300;
}

label {
  font-weight: 400;
  /*font-size: 13px;*/
  font-size: 0.92em;
}

div.dataTables_wrapper div.dataTables_length label {
  font-weight: 400;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    border-color: #ddd
}

/*.pagination > li > a, .pagination > li > span, .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus, .pagination > li > a:active, .pagination > li > span:active{
    border-radius: 3px;
}*/

.pagination > li > a, .pagination > li > span, .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus, .pagination > li > a:active, .pagination > li > span:active {
    border-radius: 3px;
    border-bottom: 4px solid;
    border-color: #ddd
}

/*.customColumn>span{
    max-height: 20px;
    min-height:20px;
    height:20px;
    white-space: nowrap;
}

.customColumn{
    max-height: 20px;
    min-height:20px;
    height:20px;
    overflow: hidden;
    
     text-overflow: ellipsis;
}*/





